

  <div class="starter-template  py-5 px-3">
    <h1>Contact Us</h1>
    <form action="index.php" method="POST">
      <input type="hidden" name="section" value="contact-us">
      <input type="hidden" name="action" value="submit">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Comment</label>
          <textarea class="form-control" id="exampleInputPassword1"> </textarea>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

